html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: inline-flex;
  padding: 1rem 4.5rem 3rem 4.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.25rem;
  /* max-height: 35rem; */
}

p {
  margin: 0;
  padding: 0;
}

.appTitle {
  width: 22.5rem;
  color: #868E9E;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

/* Seach Bar */
.searchContainer {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

#locationForm {
  display: flex;
  width: 58.5rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background: #F8FAFC;
  height: 1rem;
}

#formSubmitBtn {
  display: flex;
  width: 0.75rem;
  height: 0.75rem;
  padding: 0.08681rem 0.07681rem 0.0625rem 0.08681rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-image: url(./assets/Search.svg);
  border: none;
}

#locationInput {
  display: flex;
  width: 58.5rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background: #F8FAFC;
  border: none;
}

#locationInput {
  color: #6D6D6D;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.unitBtnContainer {
  display: flex;
  width: 10.5rem;
  padding: 0.75rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 2.625rem;
  border-radius: 0.5rem;
}

.unitBtn {
  color: #6D6D6D;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: #FFF;
}

.activeBtn {
  color: #1774E1;
}

/* generated elements */
.content {
  display: flex;
  flex-direction: column;
}

/* location */
.locationContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 22.5rem;
}

.currentCity {
  color: #020408;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.currentCountry {
  color: #6D6D6D;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* forecast */
.forecastContainer {
  display: flex;
  height: 32rem;
  align-items: flex-start;
  gap: 1.625rem;
}

/* today info: weather + hour */
.todayContainer {
  display: flex;
  width: 34.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

.weatherTitle {
  color: #020408;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 22.5rem;
}

.currentWeatherContainer {
  display: flex;
  height: 9.9375rem;
  padding: 1.5rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 2.125rem;
  align-self: stretch;
  border-radius: 0.5rem;
  background: #F8FAFC;
}

.bigTemp {
  color: #020408;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bigIconContainer {
  display: flex;
  width: 22.375rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  color: #6D6D6D;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* hourly */
.hourlyForecastContainer {
  display: flex;
  padding: 0.72rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 0.5rem;
  background: #F8FAFC;
}

.hourlyForecastCard {
  display: flex;
  padding: 0.5rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 21.0625rem;
  align-self: stretch;
}

.currTime {
  color: #6D6D6D;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 4rem;
}

.hourlyIconContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  max-width: 4.45rem;
}

.smallTemp {
  color: #020408;
  text-align: right;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* forecast (future) */
.futureContainer {
  display: flex;
  width: 34.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

.futureCardContainer {
  display: flex;
  padding: 1.5rem 0rem;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 0.5rem;
  background: #F8FAFC;
}

.futureForecastCard {
  display: flex;
  padding: 5.3125rem 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex: 1 0 0;
  align-self: stretch;
}

.forecastCardText {
  color: #6D6D6D;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}